.books{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.315);
    position: fixed;
    z-index: 9999;
}

.books-container{
    width: 608px;
    height: 610px;
    position: fixed;
    z-index: 99999;
    background-color: #F2F4F7;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.books-container .book-col-1{
    margin-bottom: 7px;
}

.books-container .book-col-1 img{
    width: 181px;
    height: 227px;
    margin-top: 20px;
}

.books-container .book-col-1 .author span,
.books-container .book-col-1 .pubished span,
.books-container .book-col-1 .pubisher span,
.books-container .book-col-1 .isbn span{
    background-color: rgba(89, 119, 223, 0.09);
    padding: 5px 10px;
    border-radius: 30px;
    margin-left: 5px;
    color: #5977DF;
}
.books-container .book-col-1 .author,
.books-container .book-col-1 .pubished,
.books-container .book-col-1 .pubisher,
.books-container .book-col-1 .isbn{
    font-size: 12px;
    font-weight: 600;
}

.books-container .book-col-2 p{
    width: 328px;
    height: 308px;
    margin-bottom: -20px;
}

.books-container .book-col-2 .love-icon img,
.books-container .book-col-2 .edit-icon img,
.books-container .book-col-2 .delete-icon img{
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    padding: 6px;
    clip-path: circle();
}

.books-container .book-col-2 .delete-icon img{
    margin-left: 10px;
}

.books-container .book-col-2 span{
   
    position: absolute;
    font-size: 10px;
    margin-left: -2px;
    background-color: #ffffff;
    clip-path: circle();
    padding: 3px;
}

.books-container .comment-img img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    clip-path: circle();
    margin-top: 2px;
    margin-right: 3px;
}

.books-container .write-comment,
.books-container .write-comment-box{
    width: 100%;
}

.books-container .write-comment input,
.books-container .write-comment-box input{
    width: 100%;
    height: 29px;
    border: 1px solid #DCDCE3;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
}
.books-container .write-comment-box input{
    height: 41px;
}

.books-container .comment-edit,
.books-container .comment-delete{
    border: none;
    color: #8990A6;
    margin-top: 5px;
    font-size: 12px;
}

.books-container .comment-delete{
    margin-left: 10px;
}

.books-container .comment-edit:hover,
.books-container .comment-delete:hover{
    border-bottom: 1px solid #8990A6;
}

@media screen and (max-width: 400px){
    .books-container{
        width: 95%;
    }
    /* .books-container .book-col-2 p{
        width: 100%;
        height: 100%;
    } */
}

