.sidebar{
    width: 225px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 555;
    left: 0;
}

.sidebar .sidebar-container{
    padding-top: 150px;
}

.sidebar ul li{
    margin: 12px 0;
}

