.sidebar{
    width: 225px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar .sidebar-container{
    padding-top: 135px;
}

.sidebar ul li{
    margin: 12px 0;
    color: #777777;
    font-size: 13px;
    list-style: none;
    padding: 5px 0;
}
.sidebar ul li:hover{
    background-color: #F9F9F9;
}

@media screen and (max-width: 1050px){
    .sidebar{
        display: none;
    }
    
}

