.container{
    max-width: 92%;
    margin: 0 auto;
}

button{
    cursor: pointer;
}

.col{
    display: flex;
}

/* Colors */
/* primary color */
.primary-color{
    background: rgba(75, 104, 255, 0.05);
    color: #2374ED;
    padding: 5px 10px;
    border-radius: 20px;
}

.secondary-color{
    color: #757881;
}

.light{
    background-color: #ffffff;
}

/* Colors */

/* Fonts */
.fsz-20{
    font-size: 20px;
}
.fsw-600{
    font-weight: 600;
}
.fsz-13{
    font-size: 13px;
}

/* Padding */
.pad-top-5{
    padding-top: 5px;
}