.header{
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}

.header .header-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header .logo{
    font-family: 'Lobster Two', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    padding-top: 6px;
}

.header .searchForm{
    width: 829px;
    height: 53px;
    border: none;
    background-color: #F2F4F7;
    border-radius: 30px;
    padding: 15px 20px;
    outline: none;
}

.header .searchForm input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding-top: -20px;
    position: absolute;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
}

.header .searchForm :placeholder-shown{
    font-size: 16px;
    background-color: transparent;
}

.header .add-book{
    width: 140px;
    height: 45px;
    background: #2374ED;
    color: #ffffff;
    border-radius: 30px;
    padding: 12px 20px;
    display: flex;
    outline: none;
    border: none;
    position: relative;
}

.header .add-book:hover{
    background: #0958ce;
}

.header .add-book img{
    width: 20px;
    height: 20px;
}

.header .add-book span{
    margin-left: 6px;
    margin-top: 3px;
}

.mobile-search{
    position: absolute;
    right: 55px;
    top: 21.8px;
}

.mobile-search > img{
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 1050px){
    .header .searchForm{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    .header .searchForm{
        display: none;
    }
}

@media all and (max-width: 400px){
    .header .add-book{
        width: 30px;
        height: 30px;
        border-radius: 2px;
        text-align: center;
        padding: 5px;
        margin-top: 10px;
    }
    .header .add-book > img{
        width: 100%;
    }
    .add-book > span{
        display: none;
    }
}
