.add-book{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    position: fixed;
    z-index: 9999;
}

.add-container{
    width: 421px;
    height: 580px;
    position: fixed;
    z-index: 99999;
    background-color: #F2F4F7;
    box-shadow: 1px 1px 5px 5px rgba(255, 255, 255, 0.349);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px 40px;
    font-weight: 600;
    overflow: auto;
    border-radius: 5px;
}

.add-container .close-modal{
    transition: all 1s ease-in-out;
}

.add-container .close-modal:hover{
    transform: rotate(180deg);
    background-color: rgba(196, 196, 196, 0.13);
}

.add-container form{
    margin-top: 20px;
}

.add-container form input{
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1.2px solid #DCDCE3;
    border-radius: 3px;
    outline: none;
    margin-bottom: 6px;
}

.add-container form #description{
    height: 80px;
}

.add-container button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #2374ED;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 6px;
}

.add-container button:hover{
    transition: backgroud-color 2s ease-in-out;
    background-color: #034ec0;
}

/* @Media Queries */

@media screen and (max-width: 400px){
    .add-container{
        width: 95%;
        margin: 0 auto;
    }
}

